---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
---

<Layout title="About · Tirta Taruna 66">
	<a href="/" class="back-home">← Back to home</a>
	<About showSeeMore={false} />
</Layout>
