---
import Layout from '../layouts/Layout.astro';
import Programs from '../components/Programs.astro';
---

<Layout title="Programs · Tirta Taruna 66">
	<a href="/" class="back-home">← Back to home</a>
	<Programs showSeeMore={false} />
</Layout>
